<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Parser Playground</title>
        <link rel="stylesheet" href="static/style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.css"/>
    </head>
    <body>
        <div class="container">
            <div class="toolbar">
                <input id="stateName" list="stateList" type="text"></input>
                <datalist id="stateList">
                </datalist>
                <button id="load">Load</button>
                <button id="save">Save</button>
            </div>
            <div class="columns">
                <div class="column">
                    <div id="source"></div>
                </div>
                <div class="column" id="tree">
                </div>
                <div class="column">
                    <div id="visitor"></div>
                </div>
                <div class="column">
                    <div id="output"></div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/python/python.js"></script>
    <script src="static/script.js"></script>
</html>
